.button {
  border-radius: 10px;
  box-shadow: 2px 4px 4px #0000009f;
  color: #272626;
  padding: 16px;
  width: 200px;
  margin: 0 6px;
  cursor: pointer;
}

.default {
  background-color: #88aad1;

  &:hover {
    background-color: #88ccd1;
  }
}

.accept {
  background-color: #00aa00;

  &:hover {
    background-color: #00cc00;
  }
}

.deny {
  background-color: #aa3939;

  &:hover {
    background-color: #cc3939;
  }
}

.neutral {
  background-color: #aaaa00;

  &:hover {
    background-color: #cccc00;
  }
}
