.table {
  width: 90%;
  padding: 4px;
  background-color: #677ea0;
  border: solid #ccc 1px;
  border-radius: 25px;
  border-collapse: separate;
  white-space: nowrap;
  box-shadow: 2px 4px 4px #0000009f;

  .tableHead {
    padding: 5px;
    border-bottom: solid #ccc 2px;
  }

  .tableRow {
    text-align: center;
  }

  .tableData {
    padding: 4px;
    border-left: solid #ccc 1px;
    border-right: solid #ccc 1px;
    max-width: 100px;
    border-top: solid #ccc 1px;
    cursor: pointer;
  }

  .tableDataOverflow {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tableCellId {
    width: 15px;
    text-align: center;
    border-left: none;
  }

  .tableCellActions {
    border-right: none;
  }

  .actionIcon {
    width: 15px;
    margin: 0 5px;
  }

  div {
    text-align: center;
    background-color: red;
  }
}
