.AppStyle {
  margin-top: 50px;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #7687a1;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009f;

    .homeButtonDiv {
      margin: 0 5px;
    }
  }

  .header {
    display: flex;
    flex-direction: row;

    div {
      display: flex;
      width: 50%;
      padding: 0 10px 10px 10px;
      align-items: center;
    }

    .divButton {
      justify-content: end;

      button {
        color: #272626;
        background-color: #88aad1;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 2px 4px 4px #0000009f;
        padding: 6px 10px;
        cursor: pointer;

        &:hover {
          background-color: #88ccd1;
        }
      }
    }
  }

  .divError {
    padding: 15px;
    margin-top: 10px;
    background-color: #960000;
  }
}

.LoginStyle {
  margin: 50px auto 0 auto;
  width: fit-content;
  min-width: 320px;
  min-height: calc(100vh - 32px);
  padding: 32px;
  box-sizing: border-box;
}

.loadingDiv {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  @keyframes loadingAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .loading {
    width: 50px;
    height: 50px;
    animation: loadingAnimation 2s infinite linear;
  }
}
