.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000080;
  z-index: 1;

  form {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #7687a1;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009f;
    overflow: auto;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  input,
  select,
  textarea {
    padding: 8px;
    border: unset;
    border-radius: 5px;
    background-color: #5d677c;
    box-shadow: 0px 2px 4px #2d2b2b9f inset;
    resize: none;
    margin-bottom: 12px;

    &::placeholder {
      color: #bfbfbf;
    }
  }

  .inputTicketId,
  .inputUserId,
  .inputUserEmail {
    cursor: default;
    background-color: gray;
  }

  .inputError {
    border: 2px solid #960000;
    margin-bottom: 8px;
  }

  .divUser {
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      margin: 6px;
    }

    @media (max-width: 500px) {
      div {
        width: 48%;
        margin: 2%;
      }
    }

    .divUserId {
      margin-left: 0;
    }

    .divUserEmail {
      margin-right: 0;
    }
  }
}

.popupUser {
  input,
  select,
  textarea {
    cursor: default;
  }
}
